.fancy-list, .big-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    gap: 0.5rem;
}

.fancy-list__group {
    margin-bottom: 1rem;
}

.fancy-list__item, .fancy-list__input-box {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    min-width: 200px;
    border: 3px solid;
    border-radius: 15px;
    /* margin-top: 1rem; */
}

.fancy-list__header {
    display: flex;
    justify-content: center;
    font-weight: 700;
    background-color: #DDA15E;
    border: 3px solid;
    border-color: #DDA15E;
    font-size: calc(0.8rem + 0.5vw);
    min-width: 200px;
    border-radius: 15px;
}

.fancy-list__item span {
    font-family: 'Open Sans', sans-serif;
    margin: 0 5px;
}

.fancy-list__item_search {
    margin-top: 0.5rem;
    background-color: white;
    border-color: white;
}

.big-list {
    background-color: #FEFAE0;
    border-radius: 15px 15px 0 0;
    height: 100%;
    padding: 0.3rem 0.5rem 1rem;
    min-width: 70%;
}

/* .big-list__header {
    border-color: #DDA15E;
    font-size: medium;
} */

.big-list__item {
    border-color: #EDCD9F;
    font-size: calc(0.5rem + 0.5vw);
}

.big-list_with-extra-space {
    padding-bottom: 35%;
}

.fancy-list__input-box {
    border: 1px solid darkgrey;
    border-radius: 7px;
    height: 2rem;
    width: 40vw;
}

.fancy-list__label {
    font-size: 0.8rem;
    font-weight: 600;
}