.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 10vw; */
    width: calc(100% + 1rem);
    border-bottom: 3px solid black;
    border-radius: calc(0.5rem + 0.2vw);
    margin: 0 -0.5rem 1rem;
    padding: calc(0.5vw + 0.5vh) 0;
}

.main-header__menu {
    font-family: 'Comfortaa', cursive;
    margin-right: 2rem;
    display: flex;
    overflow: visible;
}

.main-header__menu .hamburger-menu {
    display: none;
}

@media screen and (max-width: 600px) {
    .main-header__menu .link_main-header {display: none;}
    .main-header__menu .hamburger-menu {
      display: block;
    }
}