.fancy-progress_proteins {
    border-color: #0081A7;
    background: linear-gradient(90deg, rgba(0,129,167,0.8) 0%, rgba(0,129,167,0.8) 49%, rgba(255,255,255,1) 100%);}

.fancy-progress_carbohydrates {
    border-color: #BC6C25;
    background: linear-gradient(90deg, rgba(188,108,37,0.8) 0%, rgba(188,108,37,0.8) 70%, rgba(255,255,255,1) 100%);
}

.fancy-progress_fats {
    border-color: #FED9B7;
    background: linear-gradient(90deg, rgba(254,217,183,0.8) 0%, rgba(254,217,183,0.8) 125%, rgba(255,255,255,1) 100%);
}

.fancy-progress_calories {
    border-color: #00AFB9;
    background: linear-gradient(90deg, rgba(0,175,185,0.8) 0%, rgba(0,175,185,0.8) 35%, rgba(255,255,255,1) 100%);
}

.fancy-progress_water {
    border-color: rgb(93, 57, 235);
    background: linear-gradient(90deg, rgba(93,57,235,0.8) 0%, rgba(93,57,235,0.8) 63%, rgba(255,255,255,1) 100%);
    margin-top: 1.5rem;
}