.hamburger-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.hamburger-menu__icon {
    font-size: calc(1rem + 1vw);
}

.hamburger-menu__submenu {
    position: absolute;
    visibility: hidden;
    top: 30%;
    left: -100px;
    z-index: 10;
    transition: 0.5s ease-in-out;
    opacity: 0;
    list-style: circle;
}

.hamburger-menu__submenu > li {
    margin-top: 0.4rem;
    font-size: calc(0.8rem + 0.5vw);
}

.hamburger-menu__submenu > li:hover {
    background-color: bisque;
}

.hamburger-menu:hover .hamburger-menu__submenu {
    visibility: visible;
    background-color: antiquewhite;
    opacity: 1;
}
