.main-footer {
    width: calc(100% + 1rem);
    margin: auto -0.5rem 0;
    padding: calc(0.5vw + 0.5vh) 0;
    border-top: 3px solid black;
    border-radius: calc(0.5rem + 0.2vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-footer__p {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: small;
    font-weight: 400;
    width: 80%;
    min-width: 100px;
    margin: 0%;
}

.main-footer__p_warning {
    font-family: 'Open Sans', sans-serif;
    font-size: xx-small;
}

@media screen and (max-width: 600px) {
    .main-footer__p_warning {display: none;}
}